<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClockBundle-Dark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ClockBundle-FlipClock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ClockBundle-LCD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ClockBundle-Subway.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ClockBundle-White.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Dock Tile Plug-in.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iClock App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3609C19B150BEDE400FF8099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3609C1E5150BFF1800FF8099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3627D92515027D6B006B89B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>362AEDAB150AD685009B8640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>362AEDE8150AE12F009B8640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>364E446B127B39C800963CE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36CB03BE150AAE8900925361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
